<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head> <!--doda treść fragmentu do obecnego taga-->
    <meta charset="UTF-8">
    <title>Author List</title>
    <div th:replace="fragments :: headerlinks" th:remove="tag"></div>
</head>
<body>
<header th:replace="fragments :: navigator"></header>

<main role="main" class="main">
    <div class="container">
        <div class="row col-md-12 list-container">
            <div class="row col-md-12">
                <h1>Author List</h1>
            </div>
            <div class="row col-md-12 list-header-row">
                <div class="col-md-1">Id</div>
                <div class="col-md-1">Name</div>
                <div class="col-md-2">Surname</div>
                <div class="col-md-1">Birth Date</div>
                <div class="col-md-1">No of Books</div>
                <div class="col-md-7"></div> <!--Guziki-->
            </div>
            <div class="row col-md-12 list-row" th:each="author : ${authorList}">
                <div class="col-md-1" th:text="${author.getId()}"></div>
                <div class="col-md-1" th:text="${author.getName()}"></div>
                <div class="col-md-2" th:text="${author.getSurName()}"></div>
                <div class="col-md-1" th:text="${author.getBirthDate()}"></div>
                <div class="col-md-1" th:text="${author.getNumberOfBooks()}"></div>
                <div class="row col-md-8">
                    <div class="col-md-2">
                        <a th:href="@{'/author/remove/'+${author.getId()}}" class="col-md-12">
                            <button type="button" class="btn btn-danger col-md-12">Remove</button>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a th:href="@{'/author/edit/'+${author.getId()}}" class="col-md-12">
                            <button type="button" class="btn btn-primary col-md-12">Edit</button>
                        </a>
                    </div>

                    <div class="col-md-2">
                        <a th:href="@{'/author/books/'+${author.getId()}}" class="col-md-12">
                            <button type="button" class="btn btn-info col-md-12">Books</button>
                        </a>
                    </div>
                </div>

            </div>

        </div>
        <div class="row col-md-12 justify-content-center">
            <div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item" th:if="${authorList.getNumber() >0}">
                            <a class="page-link"
                               th:href="@{/author/list(page=${authorList.getNumber()-1}, size=${authorList.getSize()})}">Previous</a>
                        </li>
                        <li class="page-item"
                            th:each="number : ${#numbers.sequence(authorList.getNumber()-3, authorList.getNumber()-1)}"
                            th:if="${number >=0}">
                            <a class="page-link" th:href="@{/author/list(page=${number}, size=${authorList.getSize()})}"
                               th:text="${number + 1}"></a>
                        </li>
                        <li class="page-item"
                            th:each="number : ${#numbers.sequence(authorList.getNumber(), authorList.getNumber()+3)}"
                            th:if="${number< authorList.getTotalPages()}">
                            <a class="page-link" th:href="@{/author/list(page=${number}, size=${authorList.getSize()})}"
                               th:text="${number + 1}"></a>
                        </li>
                        <li class="page-item" th:if="${authorList.getNumber() < authorList.getTotalPages()-1}">
                            <a class="page-link"
                               th:href="@{/author/list(page=${authorList.getNumber()+1}, size=${authorList.getSize()})}">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <footer th:replace="fragments :: footer"></footer>
</main>

<div th:replace="fragments :: footerscripts"></div>
</body>
</html>