<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head> <!--doda treść fragmentu do obecnego taga-->
    <meta charset="UTF-8">
    <title>Book Lent Add</title>
    <div th:replace="fragments :: headerlinks" th:remove="tag"></div>
</head>
<body>
<header th:replace="fragments :: navigator"></header>

<main role="main" class="main">
    <div class="container">
        <div class="row col-md-12 list-container">
            <div class="row col-md-12">
                <h1>Book Lent Add</h1>
            </div>

            <div class="row col-md-12 form-container">
                <form th:action="@{/booklent/add}" method="post" th:object="${bookLent}" class="col-md-12">
                    <input type="hidden" th:field="*{id}" th:value="*{id}">
                    <input type="hidden" th:name="clientId" th:value="${clientId}">
                    <input type="hidden" th:field="*{dateReturned}" th:value="*{dateReturned}">

                    <div class="row col-md-12 form-row-container">
                        <div class="col-md-6">
                            <label for="book">Book to Lent:</label>
                        </div>
                        <div class="col-md-6">
                            <select th:name="bookId" id="book" class="form-control col-md-12">
                                <option th:each="booked : ${booksList}"
                                        th:value="${booked.getId()}"
                                        th:text="${booked.getTitle()}"/>

                            </select>
                        </div>
                    </div>

                    <div class="row col-md-12">
                        <div class="col-md-6">
                            <button type="reset" class="btn btn-warning offset-3 col-md-6">Reset</button>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary offset-3 col-md-6">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer th:replace="fragments :: footer"></footer>
</main>

<div th:replace="fragments :: footerscripts"></div>
</body>
</html>