<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head> <!--doda treść fragmentu do obecnego taga-->
    <meta charset="UTF-8">
    <title>Client List</title>
    <div th:replace="fragments :: headerlinks" th:remove="tag"></div>
</head>
<body>
<header th:replace="fragments :: navigator"></header>

<main role="main" class="main">
    <div class="container">
        <div class="row col-md-12 list-container">
            <div class="row col-md-12">
                <h1>Client List</h1>
            </div>
            <div class="row col-md-12 list-header-row">
                <div class="col-md-2">Name</div>
                <div class="col-md-1">Surname</div>
                <div class="col-md-6"></div> <!--Guziki-->
            </div>
            <div class="row col-md-12 list-row" th:each="client : ${clientList}">
                <div class="col-md-2" th:text="${client.getName()}"></div>
                <div class="col-md-2" th:text="${client.getSurName()}"></div>
                <div class="row col-md-8">
                    <div class="col-md-2">
                        <a th:href="@{'/client/remove/'+${client.getId()}}" class="col-md-12">
                            <button type="button" class="btn btn-danger col-md-12">Remove</button>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a th:href="@{'/client/edit/'+${client.getId()}}" class="col-md-12">
                            <button type="button" class="btn btn-primary col-md-12">Edit</button>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a th:href="@{'/client/details/'+${client.getId()}}" class="col-md-12">
                            <button type="button" class="btn btn-info col-md-12">Details</button>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a th:href="@{'/booklent/list/'+${client.getId()}}" class="col-md-12">
                            <button type="button" class="btn btn-info col-md-12">Books</button>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a th:href="@{'/booklent/add/'+${client.getId()}}" class="col-md-12">
                            <button type="button" class="btn btn-dark col-md-12">Add Book</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments :: footer"></footer>
</main>

<div th:replace="fragments :: footerscripts"></div>
</body>
</html>