<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head> <!--doda treść fragmentu do obecnego taga-->
    <meta charset="UTF-8">
    <title>Client Details</title>
    <div th:replace="fragments :: headerlinks" th:remove="tag"></div>
</head>
<body>
<header th:replace="fragments :: navigator"></header>

<main role="main" class="main">
    <div class="container">
        <div class="row col-md-12 list-container">
            <div class="row col-md-12">
                <h1>Client Details</h1>
            </div>

            <div class="row col-md-12 form-container" th:object="${client}">
                <input type="hidden" th:field="*{id}" th:value="*{id}">

                <div class="row col-md-12 form-row-container ">
                    <div class="col-md-6">
                        <label for="id">Id:</label>
                    </div>
                    <div class="col-md-6 value-cell" id="id" th:text="*{id}">
                    </div>
                </div>

                <div class="row col-md-12 form-row-container">
                    <div class="col-md-6">
                        <label for="name">Name:</label>
                    </div>
                    <div class="col-md-6 value-cell" id="name" th:text="*{name}">
                    </div>
                </div>

                <div class="row col-md-12 form-row-container">
                    <div class="col-md-6">
                        <label for="surName">Surname:</label>
                    </div>
                    <div class="col-md-6 value-cell" id="surName" th:text="*{surName}">
                    </div>
                </div>
                <div class="row col-md-12 form-row-container">
                    <div class="col-md-6">
                        <label for="idNumber">Id Number:</label>
                    </div>
                    <div class="col-md-6 value-cell" id="idNumber" th:text="*{idNumber}">
                    </div>
                </div>

                <div class="row col-md-12 form-row-container">
                    <div class="col-md-6">
                        <label for="lents">Books Lents:</label>
                    </div>
                    <div class="col-md-6 list-row" id="lents" th:each="bookLent : ${lents}">
                        <div class="col-md-4" th:text="${bookLent.getBook().getTitle()}"></div>
                        <div class="col-md-4" th:text="${bookLent.getDateLent()}"></div>
                        <div class="col-md-4" th:text="${bookLent.getDateReturned()}"></div>
                    </div>

                </div>

                <div class="row col-md-12">
                    <div class="col-md-6">
                        <a th:href="@{${referer}}">
                            <button type="submit" class="btn btn-primary offset-3 col-md-6">Back</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments :: footer"></footer>
</main>

<div th:replace="fragments :: footerscripts"></div>
</body>
</html>