<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: headerlinks"> <!--Doda treść fragmentu do obecnego taga -->
    <meta charset="UTF-8">
    <title>Index Page</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<header th:replace="fragments :: navigator"></header>

<main role="main">
    <h1>dfdfsvcAAASADDASAD</h1>

    <footer th:replace="fragments :: footer"></footer>
</main>

<div th:replace="fragments :: footerscripts"></div>
</body>
</html>