<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head> <!--Doda treść fragmentu do obecnego taga -->
    <meta charset="UTF-8">
    <title>Index Page</title>
    <div th:replace="fragments :: headerlinks" th:remove="tag"></div>
</head>

<body>
<header th:replace="fragments :: navigator"></header>

<main role="main" class="main">
    <h1>!@#Uber Bilbioteca#!@</h1>

    <footer th:replace="fragments :: footer"></footer>
</main>

<div th:replace="fragments :: footerscripts"></div>
</body>
</html>